<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<head><title></title></head>
<body>
   <ui:composition>
    <div align="center">
    <BR />
    <H1>Sistema de Alumnos</H1>
    <BR />
   </div> 
   <div align="center">
      <h:panelGrid columns="5"> 
          <p:commandButton action="#{alumnoBean.gestionAlumno}"		value="#{msg.alumnos}"/> 
          <p:commandButton action="misDatosp"          				value="#{msg.mis_datos}"/>
          <p:commandButton action="#{usuarioBean.salirp}"			value="#{msg.salir}"/>
      </h:panelGrid>
     </div>
   </ui:composition>
</body>
</html>