<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
        <h:outputStylesheet library="css" name="style.css"  />
</h:head>   
    <h:body>
        <div id="heading" class="header">
            <ui:include src="/templates/header.xhtml"/>
            <ui:insert name="heading" />
         </div>
        <div id="contenido">
            <ui:insert name="contenido"/>
        </div>
        <ui:debug/>    
    </h:body>
</html>