<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/template.xhtml" 
   xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:define name="heading">
</ui:define>
<ui:define name="contenido">
  <h:form id="uno">
     <div align="left">
     <a href="homep.xhtml"  />
    
     </div>
   
    <p:growl id="message" showDetail="true" />
     <div align="center">
      <h:panelGrid columns="5">
          <p:outputLabel   value="#{msg.documento}"/>
          <p:inputText     value="#{alumnoBean.documento}"/>
          <p:outputLabel   value="#{msg.nombre}"/>
          <p:inputText     value="#{alumnoBean.nombre}"/>
          <p:commandButton action="#{alumnoBean.buscarCliente}" value="#{msg.boton_buscar}"  update="alumnos"/>  
      </h:panelGrid>
     </div> 
      
      <h:panelGrid >
      <div align="left">
      <p:commandButton value="#{msg.boton_nuevo}" oncomplete="PF('agregarCliente').show()" update=":frmAgregar"/>  
      </div>        
      </h:panelGrid>

       <p:dataTable id="alumnos"  value="#{alumnoBean.clienteList}" var="p" styleClass="scrollerTable"
					 headerClass="standardTable_Header"	footerClass="standardTable_Header"
        			columnClasses="columna_abajoderecha,columna_abajoderecha,columna_abajo"	preserveDataModel="false" paginator="true" paginatorPosition="top"  >			
				
				<p:column>
					<p:commandButton id="modificar" value="#{msg.boton_modificar}" icon="ui_icon_pencil" oncomplete="PF('modificarCliente1').show()" update=":frmModificar" >
					  <f:setPropertyActionListener value="#{p}" target="#{alumnoBean.cliente}" />									
					</p:commandButton>
				</p:column>	
				
				<p:column>
					<f:facet name="header" style="width:10%">
					   <h:outputText value="#{msg.idUsuario}"/>
					</f:facet>		
					  <h:outputText value="#{p.usuarioId}"/>
				</p:column>
				
				<p:column>
					<f:facet name="header" style="width:10%">
					  <h:outputText value="#{msg.nombre}"/>
					</f:facet>
					 <h:outputText value="#{p.nombre}"/>
				</p:column>	
				
				<p:column>
					<f:facet name="header" style="width:10%">
					  <h:outputText value="#{msg.apellido}"/>
					</f:facet>
					 <h:outputText value="#{p.apellido}"/>
				</p:column>	
				
				<p:column>
					<f:facet name="header" style="width:10%">
					  <h:outputText value="#{msg.documento}"/>
					</f:facet>
					 <h:outputText value="#{p.dni}"/>
				</p:column>		
				
				<p:column>
					<f:facet name="header" style="width:10%">
					  <h:outputText value="#{msg.domicilio}"/>
					</f:facet>
					 <h:outputText value="#{p.domicilio}"/>
				</p:column>	
				
				<p:column>
					<f:facet name="header" style="width:10%">
					  <h:outputText value="#{msg.email}"/>
					</f:facet>
					 <h:outputText value="#{p.eMail}"/>
				</p:column>
				
				<p:column>
				   <div align="right">
					<p:commandButton action="#{alumnoBean.eliminar}"   title="Eliminar" ajax="true" update="alumnos"   value="#{msg.boton_eliminar}">
                     <f:setPropertyActionListener value="#{p}" target="#{alumnoBean.cliente}" />	
        			 <p:confirm header="#{msg.confirmar}" icon="ui-icon-alert" message="#{msg.eliminarCliente}" />				
					</p:commandButton>
					</div>
				</p:column>
			</p:dataTable>
		</h:form>   
		
		<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
	    <div align="center">
	    #{clienteBean.cliente.dni}
       	<p:commandButton value="SI" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
	    </div>
	    </p:confirmDialog>	
		
		<p:dialog id="dlgModificar"  widgetVar="modificarCliente1" resizable="false"   header="Modificacion de Alumno" modal="true" width="30%" footer="Presione Esc para salir" closeOnEscape="true" >
			<h:form id="frmModificar">
				<h:panelGrid columns="2">
					<h:outputLabel  value="#{msg.idUsuario}"/>
					<h:inputText    value="#{alumnoBean.cliente.usuarioId}"/>
					
					<h:outputLabel  value="#{msg.nombre}"/>
					<h:inputText    value="#{alumnoBean.cliente.nombre}"/>
					
					<h:outputLabel  value="#{msg.apellido}"/>
					<h:inputText    value="#{alumnoBean.cliente.apellido}"/>
					
					<h:outputLabel  value="#{msg.documento}"/>
					<h:inputText    value="#{alumnoBean.cliente.dni}"/>
												
					<h:outputLabel  value="#{msg.domicilio}"/>
					<h:inputText    value="#{alumnoBean.cliente.domicilio}"/>
					
					<h:outputLabel  value="#{msg.email}"/>
					<h:inputText    value="#{alumnoBean.cliente.eMail}"/>
					
					<h:commandButton value="#{msg.boton_guardar}"/>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		
		<p:dialog id="dlgAgregar"  widgetVar="agregarCliente" resizable="false"  header="Nuevo Alumno" modal="true" width="30%" footer="Presione Esc para salir" closeOnEscape="true">
			<h:form id="frmAgregar">
		        <p:messages id="messages" showDetail="true"  autoUpdate="true" closable="true"/>	
				<h:panelGrid columns="2">
					
					<p:outputLabel value="#{msg.idUsuario}"/>
					<p:inputText   value="#{alumnoBean.clienteNuevo.usuarioId}" required="true"  requiredMessage="#{msg.idRequerido}"/>
					
					<p:outputLabel value="#{msg.nombre}"/>
					<p:inputText   value="#{alumnoBean.clienteNuevo.nombre}" required="true"  requiredMessage="#{msg.nombreRequerido}"/>
					
					<p:outputLabel  value="#{msg.apellido}"/>
					<p:inputText  id="apellido"  value="#{alumnoBean.clienteNuevo.apellido}" required="true" requiredMessage="#{msg.apellidoRequerido}">

		      	    </p:inputText>
		      	    
		      	    <p:outputLabel value="#{msg.documento}"/>
					<p:inputText   value="#{alumnoBean.clienteNuevo.dni}"  maxlength="8" required="true" requiredMessage="#{msg.documentoRequerido}"   converterMessage="#{msg.ingreseNumero}">
					<f:convertNumber for="documento" integerOnly="true" />
		      	    </p:inputText>
		      	    
					<p:outputLabel  value="#{msg.domicilio}"/>
					<p:inputText    value="#{alumnoBean.clienteNuevo.domicilio}" required="true"   requiredMessage="#{msg.domicilioRequerido}"/>
					
					<p:outputLabel value="#{msg.email}"/>
					<p:inputText   value="#{alumnoBean.clienteNuevo.eMail}" required="true"   requiredMessage="#{msg.emailRequerido}"/>
					

					<p:commandButton action="#{alumnoBean.agregar}" value="#{msg.boton_guardar}" update=":uno:alumnos"/>
					
				</h:panelGrid>
			</h:form>
		</p:dialog>
		 
</ui:define>
</ui:composition>