<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/template.xhtml" 
   xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:define name="heading">
</ui:define>
<ui:define name="contenido">

<h:form>
     <div align="left">
     <a href="home.xhtml"  >  </a>
     </div>
     <br/>
     <br/>
     <br/>
     <br/>
     <div align="center">
    </div> 
     
   </h:form>  
</ui:define>
</ui:composition>