<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<div align="center">
  
    <br />
  	<h1>Sistema de Alumnos</h1>
    <br />
   </div> 
</h:head>
	<h:body  >
              <br/>
              <div align="center">     
				<h:form id="Indexp">
				<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
                <h:panelGrid columns="3">
                
                <p:message for="documento" showSummary="true" showDetail="false"  styleClass="error" />
                <p:outputLabel value="#{msg.documento}"/>
		      	<p:inputText id="documento" value="#{usuarioBean.userDocumento}" maxlength="8" required="true" requiredMessage="#{msg.documentoRequerido}"   converterMessage="#{msg.ingreseNumero}">
		      		<f:convertNumber for="documento" integerOnly="true" />
		      	</p:inputText>
		      	
		      	<p:message for="clave" showSummary="true" showDetail="false"  styleClass="error" /> 		
		 		<p:outputLabel value="#{msg.clave}"/>
		      	<p:password id="clave" value="#{usuarioBean.userClave}" required="true" requiredMessage="#{msg.claveRequerida}" />
                
                </h:panelGrid>
                
                <div align="center">
                <p:commandButton type="submit" action="#{usuarioBean.validarp}"  ui-icon="fa-var-star" value="#{msg.boton_ingresar}"/>   
                </div> 
                
                </h:form>
              </div>              
  </h:body>
</html>