<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/template.xhtml" 
   xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:define name="heading">
</ui:define>
<ui:define name="contenido">
<h:form>
     <div align="left">
     <a href="home.xhtml"> </a>
      
     </div>
   </h:form>

  <h:form>
          <div align="center">
          <h:panelGrid columns="2">
          
          <p:outputLabel value="#{msg.idUsuario}"/>
          <p:inputText   value="#{usuarioBean.usuario.usuarioId}"/>
          
          <p:outputLabel value="#{msg.documento}"/>
          <p:inputText   value="#{usuarioBean.usuario.dni}"/>
          
          <p:outputLabel value="#{msg.nombre}"/>
          <p:inputText   value="#{usuarioBean.usuario.nombre}"/>
          
          <p:outputLabel value="#{msg.email}"/>
          <p:inputText   value="#{usuarioBean.usuario.eMail}"/>
          
          <p:outputLabel value="#{msg.clave}"/>
          <p:inputText   value="#{usuarioBean.usuario.clave}"/>
          
          </h:panelGrid>
          <p:commandButton  value="#{msg.boton_modificar}" oncomplete="PF('modificarCliente').show()" update=":frmModificar"  />
          
          <p:commandButton  action="#{usuarioBean.salirp}" value="#{msg.salir}"/>
         </div>
   </h:form>  
   
   		<p:dialog id="dlgModificar"  widgetVar="modificarCliente" resizable="false"   header="Modificacion de Usuario" modal="true" width="30%" footer="Presione Esc para salir" closeOnEscape="true">
			<h:form id="frmModificar">
				<h:panelGrid columns="2">
					<h:outputLabel  value="#{msg.idUsuario}"/>
					<h:inputText    value="#{usuarioBean.usuario.usuarioId}"/>
					
					<h:outputLabel  value="#{msg.documento}"/>
					<h:inputText    value="#{usuarioBean.usuario.dni}"/>
					
					<h:outputLabel  value="#{msg.nombre}"/>
					<h:inputText    value="#{usuarioBean.usuario.nombre}"/>
					
					<h:outputLabel  value="#{msg.email}"/>
					<h:inputText    value="#{usuarioBean.usuario.eMail}"/>
				    
				    <h:outputLabel  value="#{msg.clave}"/>
					<h:inputText    value="#{usuarioBean.usuario.dni}"/>
					
					<h:commandButton value="#{msg.boton_guardar}"/>
				</h:panelGrid>
			</h:form>
		</p:dialog>

   
</ui:define>
</ui:composition>